KAFKA_BOOTSTRAP_SERVERS=kafka:9092

CODE_ARCHIVES_DIRECTORY=/usr/code_archives
LAMBDA_SCRIPT_PATH=/app/lambda_run.py
CODE_ARCHIVES_CLEAN_INTERVAL_SECONDS=86400

CONSUL_HOST=consul
CONSUL_PORT=8500
ACCESS_HOST=execution-service
ACCESS_PORT=8003
SERVICE_NAME=execution-service

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET_KEY=2c9883e5d99ec80616973596027d1220737bb86ed1187eaf8ada129dd3ed9bdf
JWT_SECRET_ALGORITHM=HS256

# Для теста
COMMUNICATION_TOKEN='Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3Nzc1NDc2ODQsImlhdCI6MTc3NDk1NTY4NCwicm9sZSI6InNlcnZpY2UifQ.PUfYzVX-dlPWL4p7r5xwu7GPasxjSXhH6n7_tXSZ4UE'
