MODE=example
MINIO_CODE_ROOT_USER=minio
MINIO_CODE_ROOT_PASSWORD=minio123
MINIO_MY_ROOT_USER=minio
MINIO_MY_ROOT_PASSWORD=minio123
COMMUNICATION_TOKEN='Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3Nzc1NDc2ODQsImlhdCI6MTc3NDk1NTY4NCwicm9sZSI6InNlcnZpY2UifQ.PUfYzVX-dlPWL4p7r5xwu7GPasxjSXhH6n7_tXSZ4UE'