S3_CODE_URL=http://localhost:9000
S3_CODE_ACCESS_KEY=minio
S3_CODE_SECRET_KEY=minio123
MAX_FILE_SIZE_MB=128
S3_USER_CODE_BUCKET=user-code
S3_CODE_ARCHIVES_BUCKET=code-archives
S3_FUNCTION_LOGS_BUCKET=function-logs

CONSUL_HOST=localhost
CONSUL_PORT=8500
ACCESS_HOST=localhost
ACCESS_PORT=8001
SERVICE_NAME=code-service

REDIS_HOST=localhost
REDIS_PORT=6379

USER_CODE_ARCHIVE_PATH='D:/Program Files/pythonProject/lambda_app/code-archives'

JWT_SECRET_KEY=2c9883e5d99ec80616973596027d1220737bb86ed1187eaf8ada129dd3ed9bdf
JWT_SECRET_ALGORITHM=HS256
JWT_SECRET_EXPIRES_SECONDS=86400

# Для теста
COMMUNICATION_TOKEN='Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE4MDY3ODgzMTEsImlhdCI6MTc3NTI1MjMxMSwicm9sZSI6InNlcnZpY2UifQ.iRVoj6uvInlN_jVMfBbEuELw3PQ3yQSAVYHZXU0XCi4'
