.content {
    flex: 1;
    box-sizing: border-box;
    padding: 10px 20px;
    overflow-y: auto;
    position: relative;
}

.contentFlex {
    display: flex;
    width: 100%;
    padding-top: 20px;
    box-sizing: border-box;
    gap: 20px;
}

.contentFlexLeft {
    width: 45%;
}

.functionDescription {
    padding: 5px 20px 10px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #efebeb;
    box-shadow: 10px 10px 10px 1px #868282;
    font-size: 20px;
}

.functionDescription .parameter {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 2px solid black;

    max-width: 100%;
    word-break: break-all;
}

.functionDescription .parameter .head {
    font-family: "VK Sans Display SemiBold", serif;
}

.functionButtons {
    padding: 20px;
    display: flex;
    gap: 20%;
    justify-content: center;
    align-items: center;
}

.functionButton {
    font-size: 40px;
    border: 2px solid black;
    border-radius: 10px;
    transition: background-color, color, 0.3s;
}

.editButton:hover {
    cursor: pointer;
    background-color: blue;
    border: 2px solid blue;
    color: white;
}

.deleteButton:hover {
    cursor: pointer;
    background-color: red;
    border: 2px solid red;
    color: white;
}

.logsBox {
    flex: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.logElement {
    width: 80%;
    /*height: 15%;*/
    border: 3px solid green;
    padding: 10px;
    box-sizing: border-box;
    transition: background-color, color, 0.3s;
}

.logElement:hover {
    cursor: pointer;
    background-color: green;
    color: white;
}

.logElement .id {
    font-family: "VK Sans Display SemiBold", serif;
    margin-bottom: 10px;
}

.logElement .info {
    margin-top: 10px;
}

.isActive {
    margin-top: 10px;
    font-family: "VK Sans Display SemiBold", serif;
    display: flex;
    gap: 10px;
}

.activeCircle {
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 50%;
}

.modalContent {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formWindow {
    width: 40%;
    background-color: #efebeb;
    box-shadow: 10px 10px 10px 1px #868282;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formWindow.center {
    align-items: center;
}

.formWindow .head {
    font-family: "VK Sans Display SemiBold", serif;
    font-size: 18px;
}

.formWindow input {
    width: 90%;
    padding: 5px;
    font-size: 18px;
}

.formWindow input[type="number"] {
    width: 15%;
}

.formWindow select {
    font-size: 20px;
    width: 25%;
}

.saveParametersBox {
    display: flex;
    justify-content: center;
}

#saveParametersButton {
    background-color: blue;
    color: white;
}

#deleteFunctionButton {
    background-color: red;
    color: white;
    width: 50%;
}

#saveParametersButton:hover {
    background-color: #0c2180;
}

#deleteFunctionButton:hover {
    background-color: #7a0808;
}

.newFunctionBox {
    width: 60%;
    min-height: 100%;
    background-color: #efebeb;
    box-shadow: 10px 10px 10px 1px #868282;
    padding: 5px 30px;
    box-sizing: border-box;
    border-radius: 30px;
}

.newFunctionBox form {
    display: grid;
    grid-template-columns: auto 1fr;  /* левая колонка под ширину текста, правая — всё остальное */
    gap: 30px;
    align-items: center;
}

.newFunctionBox h1 {
    margin-bottom: 50px;
    font-size: 40px;
}

.newFunctionBox form label {
    font-size: 23px;
    padding-right: 10px;
}

.newFunctionBox form input {
    font-size: 20px;
}

.newFunctionBox form select {
    width: 50%;
    font-size: 20px;
}

.newFunctionBox form input[type=number] {
    width: 15%;
}

.specialParameter {
    text-decoration: underline;
}

.newFunctionBox form button[type=submit] {
    background-color: blue;
    color: white;
    width: 180px;
}