.content {
    flex: 1;
    box-sizing: border-box;
    padding: 10px 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.logsField {
    position: relative;
    width: 90%;
    flex: 1;
    background-color: black;
    color: white;
    font-family: "Courier New", serif;
    word-break: break-word;
    white-space: pre-wrap;    /* ← Добавить! Переносит текст */
    overflow-wrap: break-word;
    padding: 20px;
    box-sizing: border-box;
}