CONSUL_HOST=consul
CONSUL_PORT=8500
ACCESS_HOST=events-service
ACCESS_PORT=8002
SERVICE_NAME=events-service

S3_USER_URL=http://minio-my-storage:9000
S3_USER_ACCESS_KEY=minio
S3_USER_SECRET_KEY=minio123

DB_USER=postgres
DB_PASSWORD=postgres_pass
DB_HOST=db
DB_PORT=5432
DB_NAME=events_db

KAFKA_BOOTSTRAP_SERVERS=kafka:9092

JWT_SECRET_KEY=2c9883e5d99ec80616973596027d1220737bb86ed1187eaf8ada129dd3ed9bdf
JWT_SECRET_ALGORITHM=HS256
# Для теста
COMMUNICATION_TOKEN='Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE4MDY3ODgzMTEsImlhdCI6MTc3NTI1MjMxMSwicm9sZSI6InNlcnZpY2UifQ.iRVoj6uvInlN_jVMfBbEuELw3PQ3yQSAVYHZXU0XCi4'
